
<section>
  <mat-card style="margin: 20px;">
    <mat-card-content>
      <form>
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Input" [(ngModel)]="client.firstName" name="firstName">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Input" [(ngModel)]="client.lastName" name="lastName">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Input" [(ngModel)]="client.age" name="age">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Input" [(ngModel)]="client.adress" name="adress">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</section>