<mat-card class="my-card">
  <mat-card-header>
    <mat-card-title>
      This is the card title
    </mat-card-title>
    <mat-card-subtitle>Dããh</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    class="homer-beer"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKfEfKcc7MdqJv0tV0LVYW7BcrYpwybNYR86r3RCOydSq_A24A"
    alt="hi, im homer"
  >
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">LIKE</button>
    <button mat-button color="primary">SHARE</button>
  </mat-card-actions>
</mat-card>